footer {       
  margin-top: 2rem;
  border-top: var(--main-border);
  display: grid;  
  grid-template-columns: repeat(12, 1fr);    
  grid-template-rows:  repeat(2, calc(50vh - 2.5vw));
  background-color: var(--main-bg);
}

.footerImgContainer {
  grid-column: 1 / span 12; 
  display: flex; 
  position: relative;
  overflow: hidden;
} 

.footerImgContainer .image{
  background: url(/images/contact/footer.svg);
  filter: var(--main-filter);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: slideshow 30s linear infinite;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}



.footerContainer {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);  
}

.footerContainer .ubication {   
  grid-column: 1 / span 4;    
  font-size: calc(1rem + 1vw);
  display: flex;  
  align-items:  center;
  border-right: var(--main-border);
  position: relative;
  height: 100%;

}


.infoLinks {
  grid-column: 5 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: var(--main-border);
}

.linksContainer {
  display: flex;
  flex-direction: column;
}

.infoLinks  a {   
  font-family: 'Anton', sans-serif;
  font-size: calc(1rem + 1vw);
}

.infoIcons {
  grid-column: 10 / span 3; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}

.infoIcons .iconContainer {
  height: 6rem;
  width: 6rem;  
  position: relative;
}

.infoIcons .iconContainer img {
  filter: var(--main-filter);
  padding: 1rem !important;
}

/* Media Querys */
@media screen and (max-width: 768px) {

  footer { 
    grid-template-rows:  2fr 1fr;
  }

  .footerContainer  { 
    grid-template-rows: repeat(2, 1fr) ;    
  }

  .footerContainer .ubication { 
    display: flex;  
    grid-column: 1 / span 12;
    border-right: none;
    border-bottom: var(--main-border);
    
  }

  .infoLinks {
    grid-column: 1 / span 7;    
  }

  .infoIcons {
    grid-column: 8 / span 5; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
  }

}
@media screen and (max-width: 576px) { 

 


  .infoLinks {
    grid-column: 1 / span 12;
    border-right: none;    
  }

  .infoIcons {
    grid-column: 1 / span 12; 
    grid-row: 3 / span 1;  
    border-top: var(--main-border);
  }

  .infoIcons .iconContainer {
    height: 4rem;
    width: 4rem;
    position: relative;
  }

  .footerImgContainer .image{    
    animation: slideshow 15s linear infinite;
  }
  

}