.formularioContainer {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.formularioContainer h1 {
  grid-column: 1 / span 12;
  text-align: center;
  font-size: calc(3rem + 1vw);
  margin: 1rem 0;
}

.formularioContainer .formularioP {
  grid-column: 1 / span 6;
  text-align: center; 
  font-size: 2rem;
  border: solid 3px var(--main-color);
  border-right: none;
  height: 100%;
  display: flex;
  /* flex-direction: column; */  
  justify-content: center;    
}

.formularioContainer .formularioP p {
  width: 100%;
  align-self: center; 
  margin-left: -10rem;
  padding: 0 5rem;  
}

.circleContainer {
  width: 10rem;
  height: 10rem; 
  padding: 2rem !important;
  position: relative;
  align-self: flex-end; 
  justify-self:center ;
  animation:spin 10s linear infinite;
}

.circleContainer img{   
  padding: 2rem !important; 
  filter: var(--main-filter); 
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.formularioContainer .formulario {
  grid-column: 7 / span 6;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);  
}

.formularioContainer .formulario label{
 display: none;
}

.formularioContainer .formulario .fileSelectorLabel{
  grid-column: 1 / span 12;  
  display:block;  
  background-color: var(--main-color);
  border: solid 3px var(--main-color);
  border-bottom: none;
  height: auto;  
  padding: 1rem 0 ;
  text-align: center;
  /* font-family: "Monument"; */  
  color:white;
}

.formularioContainer .formulario input[type="file"]{
  display: none; 
}

.formularioContainer .formulario input, .formularioContainer .formulario select, .enviarBtn, .enviarBtnDesabilitado{
  grid-column: 1 / span 12;  
  background-color: transparent;
  border: solid 3px var(--main-color);
  border-bottom: none;
  height: 5.5rem;  
  text-align: center;
  /* font-family: "Monument"; */
  color: black;
}

.enviarBtn, .enviarBtnDesabilitado{
  border-bottom: solid 3px var(--main-color) !important;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif; 
}

.enviarBtn {
  color: var(--main-color); 
  cursor: pointer; 
}

.enviarBtnDesabilitado {
  color: grey;  
}



.formularioContainer .formulario .lastInput{  
  border-bottom: solid 3px var(--main-color);  
}

.formularioContainer .formulario input:focus{    
  outline: none;
}

.formularioContainer .formulario input::placeholder{  
  color: var(--main-color)
}


/* .formularioContainer .enviarBtn{
  font-size: 2.5rem;
  height: 5rem;
  grid-column: 1 / span 12; 
  width: 10rem; 
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;  
  background-color: transparent;
  border: solid 2px var(--main-color);
  box-shadow: 7px 7px 0 0 var(--main-color);   
  transform: rotate(-4deg);
} */

/* .formularioContainer .enviarBtnDesabilitado{
  font-size: 2.5rem;
  height: 5rem;
  grid-column: 1 / span 12; 
  width: 10rem; 
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;  
  background-color: transparent;
  color: grey;
  border: solid 2px grey;
  box-shadow: 7px 7px 0 0 grey;   
  transform: rotate(-4deg);
} */

/* Media Querys */

@media screen and (max-width: 768px) {
  
  .formularioContainer h1 {   
    font-size: calc(2rem + 1vw);    
  } 

  .formularioContainer .formularioP {
    grid-column: 1 / span 12;
    border-bottom: none;
    border-right: solid 3px var(--main-color); 
    height: 20rem;     
  }
  
  .formularioContainer .formularioP p { 
    margin-left: -8.5rem;
    padding: 0 2rem;  
  }

  .circleContainer {
    width: 8.5rem;
    height: 8.5rem; 
    padding: 1rem !important;    
  }

  .formularioContainer .formulario {
    grid-column: 1 / span 12;    
  }

  .formularioContainer .enviarBtn, .formularioContainer .enviarBtnDesabilitado{
    font-size: 2rem;         
  }

}

@media screen and (max-width: 576px) {

  .formularioContainer { 
    grid-template-columns: repeat(12, 1fr);
  }  

  

  .formularioContainer .formularioP p { 
    margin-left: -7rem;
    padding: 0 2rem;  
  }

  .circleContainer {
    width: 7rem;
    height: 7rem; 
    padding: 1rem !important;    
  }

  

  .formularioContainer h1 {   
    font-size: calc(1.5rem + 1vw);    
  }  

  .formularioContainer .formulario label, .formularioContainer .formulario input, .formularioContainer .formulario select {    
    height: 3rem;
    font-size: 0.8rem;    
  }

  .formularioContainer .enviarBtn, .formularioContainer .enviarBtnDesabilitado{
    font-size: 1rem;     
  }


}



/* swall */
.swal2-popup {
  border-radius: 0 !important;  
  width: 80vw;
  border-radius: 0;
  border: var(--main-border) !important;
  box-shadow: 7px 7px 0 0 var(--main-color) ;
}

.swal2-html-container {
  font-size: 0.9rem ;
  color: var(--main-color);
  font-weight: 200 ;
  font-family: 'Titillium Web', sans-serif;  
}

.swal2-styled.swal2-confirm {
  background-color: var(--second-bg);    
  border-radius: 0;
  font-weight: 200 ;
  font-family: 'Anton', sans-serif;   
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background-color: rgb(15, 15, 15) !important;
}