.galeriaContainer {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.galeriaContainer h1 {
  grid-column: 1 / span 12;
  text-align: center;
  font-size: calc(3rem + 1vw);
  margin: 1rem 0;
}

.galeriaContainer h2, .galeriaContainer h3 {
  grid-column: 1 / span 12;
  text-align: center;
  font-size: calc(2rem + 1vw);
  width: 30vw; 
  margin: 1rem auto;
  /* margin: 1rem 10vw; */
  background-color: var(--main-color);
  color: var(--main-bg);
  
}

.galeriaContainer h2  {
  transform: rotate(4deg);  
}

.galeriaContainer h3  {
  margin-top: -1rem;
  transform: rotate(1deg);  
}


.imagesGalleryContainer {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem
}


.imageContainer {
  grid-column: auto / span 4;
  position: relative;    
  height: 21vw;
  display:flex; 
  border: solid 3px #5593a0;
  /* margin: 5rem 2rem; */
  background: #885d75 ; 
  background: #5d8188 ; 
  background: #5d818881 ; 
  transition: all .5s ease-in-out;
  box-shadow: 7px 7px 0 0 #5593a0 ; 
}

.colorB {
  border: solid 3px #74385b;  
  background: #885d757c ;  
  box-shadow: 7px 7px 0 0 #74385b ; 
}

.imageContainer {
  transform: rotate( 0.05deg );
}

.imageContainer img {
  height: auto;
  mix-blend-mode: soft-light;  
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  -webkit-filter: grayscale(90%) contrast(200%);
  filter: grayscale(90%) contrast(200%);
  opacity: 0.8;
  transition: all .5s ease-in-out;;    
}

.imageContainer img:hover {    
  -webkit-filter:none;
  filter: none;
  opacity: 1;    
} 

.imageContainer:hover {  
  background:none; 
  transform: rotate( 0.05deg ) scale(1.1) !important;   
  z-index: 80;
}

/* Big Image */

.imgGrandeContainer {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.98);
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

.imgGrande {
  height: 80vh;
  width: 80vw;
  margin: 10vh auto;
  position: relative;
}


/* Button to back */

.galeriaContainer button {
  grid-column: 1 / span 12;
  font-size: calc(1rem + 1vw);
  text-align: right;
  padding-right: 4rem;  
  width: 30rem;
  margin: 2rem auto 0; 
  background-color: var(--main-bg);
  border: var(--main-border);
  box-shadow: 7px 7px 0 0 var(--main-color);
  cursor: pointer;
  position: relative;
}

.galeriaContainer button img{
  transform: translate(-9rem, 0) rotate(90deg); 
  padding: 0.5rem !important;
  filter: var(--main-filter)
 }
 
 .galeriaContainer button .arrow2{
  transform: translate(-11rem, 0) rotate(90deg);  
 }
 
 .galeriaContainer button .arrow3{
  transform: translate(-13rem, 0) rotate(90deg);  
 }
 
 .galeriaContainer button span { 
   font-family: 'Anton', sans-serif; 
   font-size: calc(2rem + 1vw); 
 }

 @media screen and (max-width: 768px) {
  .galeriaContainer {
    padding: 0 0.5rem;   
  }

  .galeriaContainer h1 {   
    font-size: calc(2rem + 1vw);    
  }

  .galeriaContainer h2, .galeriaContainer h3 {   
    font-size: calc(1.5rem + 1vw);    
  }

 }

 @media screen and (max-width: 576px) {
  
  .galeriaContainer h1 {   
    font-size: calc(1.5rem + 1vw);    
  }

  .galeriaContainer h2, .galeriaContainer h3 {   
    font-size: calc(1rem + 1vw);    
  }

  .imageContainer {
    grid-column: auto / span 6;
    height: 30vw;   
  }

  .galeriaContainer button {
    padding-right: 1rem;    
    width: 15rem;   
  }

  .galeriaContainer button img{
    transform: translate(-4rem, 0) rotate(90deg); 
    padding: 0.5rem !important;
    filter: var(--main-filter)
   }
   
   .galeriaContainer button .arrow2{
    transform: translate(-5rem, 0) rotate(90deg);  
   }
   
   .galeriaContainer button .arrow3{
    transform: translate(-6rem, 0) rotate(90deg);  
   }



 }


