.galeriasContainer {
  padding-top: 2rem;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.galeriasContainer h2, .galeriasContainer p {
  grid-column: 1 / span 12;
  text-align: center;    
}

.galeriasContainer h2 { 
  margin-top: 2rem;  
  border-top: 2px solid var(--main-color);
}

.galeriasContainer button  {
  /* grid-column: auto / span 7; */  
  margin: -1rem 1rem 0; 
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  border: var(--main-border);
  box-shadow: 7px 7px 0 0 var(--main-color) ;
  background-color: var(--main-bg);
  cursor: pointer;
  font-size: calc(0.8rem + 1vw);
}

.galeriasContainer button a {  
  font-family: 'Anton', sans-serif; 
  
}

.galBtnA { 
  margin-top: 2rem !important; 
  grid-column: 4 / span 7;
  transform: rotate(5deg);
}
.galBtnB {
  grid-column: 7 / span 7;
  transform: rotate(-5deg);  
}
.galBtnC {
  grid-column: 4 / span 7;
  transform: rotate(-2deg);
}

.galBtnA:hover {
  grid-column: 4 / span 7;
  transform: translate(7px, 7px) rotate(5deg) ;
  box-shadow: none;
}
.galBtnB:hover {
  grid-column: 7 / span 7;
  transform: rotate(-5deg) translate(7px, 7px);
  box-shadow: none;
}
.galBtnC:hover {
  grid-column: 4 / span 7;
  transform: rotate(-2deg) translate(7px, 7px);
  box-shadow: none;
}

/* Media Querys */

@media screen and (max-width: 992px) { 

  .galeriasContainer button  {
    /* grid-column: auto / span 7; */  
    margin: -1rem auto 0; 
    width: 20rem;
    height: 10rem;
    background-color: transparent;
    border: var(--main-border);
    box-shadow: 7px 7px 0 0 var(--main-color) ;
    background-color: var(--main-bg);
    cursor: pointer;
    font-size: calc(0.8rem + 1vw);
  }
  
  .galBtnA {
    grid-column: 1 / span 12;
  }
  .galBtnB {
    grid-column: 1 / span 12;
  }
  .galBtnC {
    grid-column: 1 / span 12;
  }
}

@media screen and (max-width: 576px) {
  .galeriasContainer button  {    
    width: 80vw;
    height: 30vw; 
  }   
}



