:root {   
  --main-color: #3f52a0;
  --main-color: #162a7c;
  --second-color: #04839d;
  --third-color: #b33f4c;    
  --main-bg: #ddb2c0;  
  --main-bg: #fad3e0;  
  --second-bg: #fbd4ca;    
  --main-border: 3px solid var(--main-color);
  --second-border: 3px solid var(--second-color);
  --main-filter: invert(10%) sepia(56%) saturate(4578%) hue-rotate(226deg) brightness(97%) contrast(94%);
}

/* :root {     
  --main-color: #c2238d;  
  --main-bg: #dfee59;  
  --second-bg: #fbd4ca;   
  --main-filter: invert(21%) sepia(56%) saturate(3042%) hue-rotate(297deg) brightness(102%) contrast(99%);
}

:root {     
  --main-color: #08032e;  
  --main-bg: #942222;  
  --second-bg: #fbd4ca;   
  --main-filter: invert(6%) sepia(36%) saturate(4300%) hue-rotate(237deg) brightness(89%) contrast(111%);
}

:root {     
  --main-color: #08032e;    
  --main-bg: #da5f18;  
  --second-bg: #fbd4ca;   
  --main-filter: invert(6%) sepia(36%) saturate(4300%) hue-rotate(237deg) brightness(89%) contrast(111%);
}

:root {     
  --main-color: #cf552c;    
  --main-bg: #253022;  
  --second-bg: #fbd4ca; 
  --second-border: 3px solid #081c36  ;  
  --main-filter: invert(45%) sepia(16%) saturate(7453%) hue-rotate(346deg) brightness(86%) contrast(86%);
} */


@font-face {
  font-family: "MonumentLight";
  src: url('../fonts/MonumentGrotesk-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url('../fonts/MonumentGrotesk-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ApercuPro";
  src: url('../fonts/ApercuPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--main-bg);
}

* {
  list-style: none;    
  font-family: 'Roboto Mono', monospace;
  font-family: 'MonumentLight', sans-serif; 
  font-family: 'ApercuPro', sans-serif;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

.v {
  border: 1px solid var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);  
}

a:hover {
  color: var(--main-color);
}

p, label, input, .form-control {   
  font-size: 1rem;  
  /* line-height: 1.5rem;
  letter-spacing: -0.08rem; */
  margin: 0;                         
  padding: 0;  
  font-weight: 400;  
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6, button, button a {
  font-family: 'Anton', sans-serif;
  color: var(--main-color);
}

h2 {
  font-size: calc(1rem + 3vw);
}

p {
  font-size: calc(1rem + 0.5vw);
}


.divContainer {
  /* ver margin top en otras querys */
  margin-top: calc(30px + 8px + 1px);  
  /* ver altura en otras querys */
  min-height: calc(100vh - 39px - 229px);
  transition: all 0.5s ease-in-out; 
}

.sectionContainer {  
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  /* gap: 1rem;  */    
}

.hidden {
  visibility: hidden; 
  opacity: 0;
  transition: all 800ms ease-out;
}

.dotted {
  background-image: radial-gradient(var(--main-color) 10%, transparent 10%), radial-gradient(var(--main-color) 10%, transparent 10%);
  background-color: var(--main-bg);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px; 
}

.stripped {
  color: var(--main-bg);
  background: repeating-linear-gradient(
    45deg,
    var(--main-bg),
    var(--main-bg) 15px,
    var(--main-color) 15px,
    var(--main-color) 20px
  );
}

/* Media Querys */
@media screen and (max-width: 768px) {
  p {
    font-size: calc(0.5rem + 1.5vw);
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: calc(0.5rem + 2vw);
  }
}





